@font-face{
    font-family: 'Quirus-Font';
    src: url('../assets/fonts/quirosdemoregular-2v19o.otf')
}
@font-face{
    font-family: 'Poppins-light';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf')

}
@font-face{
    font-family: 'Space Rave';
    src: url('../assets/fonts/space_rave/Space Rave.ttf')
}
@font-face{
    font-family: 'Klemer';
    src: url('../assets/fonts/klemer_display/Klemer Display DEMO.ttf')
}
@font-face{
    font-family: 'Narnia';
    src: url('../assets/fonts/narnia/Narnia.ttf')
}

@tailwind base;
@tailwind components;
@tailwind utilities;